/* generic site styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Short stack",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 50%, #ffffff 100%);
    ;
    padding: 0;
    margin: 0;
}



h1 {
  text-align: center;
  margin: 1.2rem;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

    
}

section h2 {
    font-size: 2.5rem;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
 
}



section li {
  
  border-radius: 20px;
}

section li:hover {
  background-color: pink;
  
  box-shadow: 10px 10px 21px -1px rgba(3,8,33,0.7);

}

p {
  line-height: 1.5;
  
}


img {
  width: 100%;
  border-radius: 5px;
}

a {
  text-decoration: none;
  margin: 2rem;
  font-size: 2rem;
  
  margin-bottom: 5rem;

}
a:hover {
  color: white;
}

button {
  transition: transform .2s;
  border-radius: 5px;
  padding: 5px;

}

button:hover {
  transform: scale(1.2);
  background-color: blueviolet;
  box-shadow: 10px 10px 21px -1px rgba(3,8,33,0.7);
  
}

.videos {
  display: flex;
 justify-content: space-around;
 align-items:space-between;
  flex-flow: row wrap;
  margin-bottom: 3rem;
  margin-top: 3rem;
}



@media (min-width:600px) {
  #facts ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-between;
}

#facts li {
    flex-basis: 48%;
    margin-bottom: 0.5rem;
}

#facts li:last-child {
  flex-basis: 100%;
}

}
/*
#artists h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8rem;
  margin: 0;
}

#artists h3 {
  margin-top: 0.3rem;
}

.articlewrap {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.articlewrap article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 0 1rem;
}

.articlewrap article * {
  grid-column: 2/3;
  margin-top: 0;
}

.articlewrap article img {
  grid-column: 1/2;
  grid-row: 1/6;
}

@media (min-width: 650px) {
  .articlewrap {
      display: grid;
      grid-template-columns: repeat(2, minmax(
      10px, 1fr));
  }
}

@media (min-width: 800px) {
  .articlewrap {
      display: grid;
      grid-template-columns: repeat(4, minmax(10px, 1fr));
  }

  .articlewrap article {
      grid-template-columns: minmax(100px, 1fr);
      grid-template-rows:repeat (5, auto);
      gap: 0 1em;
  }

  .articlewrap article * {
      grid-column: 1/2;
  }

  /*Optional...if you prefer the image in the middle*/
 /*
  .articlewrap article img {
      grid-column: 1/2;
      grid-row: auto;
      margin-bottom: 1rem;
  } */
